{
    "name": "master_configuration",
    "pageRepositoryBaseUri" : "http://146.148.4.228:8080/wayback/",
    "pageRepositorySearchUri" : "http://146.148.4.228:8080/wayback/query?type=prefixquery&url=",
    "extract_configurations" : [
        {
            "name" : "tesco_product_details",
            "type" : "product_details",
            "urlPattern" : "http://www.tesco.com/groceries/product/details/?id=",
            "parsingRules" : {
                "title" : "div.productDetails h1",
                "price" : "span.linePrice",
                "priceLineAbbr" : "span.linePriceAbbr"
            },
            "frequency" : "30m",
            "indexToSaveMetadata" : "http://localhost:9200",
            "baseUrlOfRetailer" : "http://www.tesco.com"
        },
        {
            "name" : "waitrose_product_details",
            "type" : "product_details",
            "urlPattern" : "http://www.waitrose.com/shop/DisplayProductFlyout?productId=",
            "parsingRules" : {
                "title" : "div.product-image h1 em",
                "price" : "p.price strong",
                "priceLineAbbr" : "p.price span"
            },
            "frequency" : "30m",
            "indexToSaveMetadata" : "http://localhost:9200",
            "baseUrlOfRetailer" : "http://www.tesco.com"
        }
    ]
}
